* {
     margin: 0;
     Padding: 0;
     box-sizing: boarder-box;
 }
 body{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 header{
     box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.37);
     position: sticky;
     top: 0px;
     background: linear-gradient(to right top, #ffffffda, #ffffff);
     z-index: 10;
 }

 nav{
     min-height: 12vh;
     margin: auto;
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }


 nav h1 
  {
     font-size: 3rem;
     font-family: 'Courier New', Courier, monospace;
     flex: 1;
     text-align: center;
     color: rgb(255, 255, 255);
     text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #ffffff;
 }

 nav ul {
     list-style: none;
     display: flex;
     justify-content: space-between;
     font-size: 1.5rem;
     flex: 1;
     text-align: center;
 }

 nav a {
     color: rgb(0, 0, 0);
     text-decoration: none;
 }

 section{
     min-height: 100vh;
     display: flex;
     justify-content: left, center;
     align-items: center, left;
     z-index: -1;
 }

 h2 {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.932);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: left;
    font-size: 3rem;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
    padding-left: 5px;
    }

 .Home {
     background: linear-gradient(to bottom, #36ad99, #b93554);
 }

 .About {
    background: linear-gradient(to bottom, #b93554, #e492a7);
}

.Blogs {
    background: linear-gradient(to bottom, #e492a7, #4d8e8f);
}

.Creative {
    background: linear-gradient(to bottom,  #4d8e8f, #ad2876);
} 

.Contacts {
    background: linear-gradient(to bottom, #ad2876, #e492a7);
}

.blimp{
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #9b7fff, #09ccbc);
    transform: scale(1.5);
    transition: all 0.7s ease;
    text-align: center;
    border-radius: 150px;
}

article {
    z-index: +5;
    align-items: center;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    padding: 6px;
}

p{
    font-family: dosis;
    text-align: left;
    font-size: 1.3rem;
    padding: 2px;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 4px;
}

.vizArea{
    fill: blue;
}

.Blog{
    padding: 30px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

h4{
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.9rem;
    color: #b93554;
}


h5{
    padding: 15px;
    text-align: left;
    text-decoration: underline;
    font-size: 1.4rem;
}

.Quote{
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
}

center{
    align-items: center;
}

.Abouting{
    padding: 5px;
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    border-radius: 180px;
    background:rgba(255, 255, 255, 0.507) ;
    justify-content: left, center;
    align-items: center, left;
    z-index: 3;
}

.Homing{
    padding: 32px;
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    border-radius: 180px;
    justify-content: left, center;
    align-items: center, left;
    z-index: 3; 
}

.Blogging{
    justify-content: left, center;
    align-items: center, left;
    padding: 10px;
    font-size: 1.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    border-radius: 180px;
    background:rgba(255, 255, 255, 0) ;
    z-index: 3;
    display: inline;
}


.Creativs{
    justify-content: left, center;
    align-items: center, left;
    font-size: 1.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    border-radius: 180px;
    background:rgba(255, 255, 255, 0) ;
    z-index: 3;
}


.AboutSection{
    padding: 10px;
    font-size: 1.4rem;
    padding-right: 10px;
    justify-content: left, center;
    align-items: center, left;
    border-radius: 100px;
}

.BloggingItems{
    display: flex;
    justify-content: left, center;
    align-items: center, left;
    padding-top: 70px;
    z-index: 3;
    line-height: 2rem;
}

.CreativeItems{
    display: flex;
    justify-content: left, center;
    align-items: center, left;
    padding-top: 5px;
    z-index: 3;
}

.AboutItems{
     display: flex;
     justify-content: left, center;
     align-items: center, left;
     padding-left: 50px;
     padding-top: 10px;
     z-index: 3;
     line-height: 2rem;
}

.AllBlogs{
    display: inline-table;
    justify-content: left;
    align-items: left;
    min-height: 150vh;
}

.GraphBlog{
    padding: 30px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 2rem;

}

.Contacting{
    padding: 5px;
    font-size: 1.7rem;
    line-height: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    border-radius: 180px;
    background:rgba(255, 255, 255, 0.507) ;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 100px;
}

.ContactSection{
    padding: 10px;
    padding-top: 110px;
    font-size: 1.4rem;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}








